<form action="" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" 
    required
    [(ngModel)]="user.email" name="email"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$"
    #email="ngModel">
    <small class="error" [hidden]="email.valid || (email.pristine && !f.submitted)">
        Email is required and format should be <i>john@doe.com</i>.
    </small>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password"
    required
    minlength="8" ng-minlength="8"
    validateEqual="confirmPass"
    reverse="true"
    [(ngModel)]="user.password" name="password"
    #password="ngModel">
    <small class="error" [hidden]="password.valid || (password.pristine && !f.submitted)">
        Password is required and must be at least 8 characters long
    </small>
  </div>
  <div class="form-group">
    <label for="passwordConfirm">Confirm password:</label>
    <input type="password" class="form-control" id="confirmPassword"
    required
    minlength="8" ng-minlength="8"
    validateEqual="password"
    reverse="false"
    [(ngModel)]="user.confirmPass" name="confirmPass"
    #confirmPass="ngModel">
    <small class="error" [hidden]="confirmPass.valid ||  (confirmPass.pristine && !f.submitted)">
        Password mismatch
    </small>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!f.form.valid">Submit</button>
</form>